aws_region     = "{{ tf_aws_region }}"
name_tag       = "{{ tf_name_tag }}"
ami_id         = "{{ tf_ami_id }}"
instance_type  = "{{ tf_instance_type }}"
instance_count = {{ tf_instance_count }}
public_key     = "{{ tf_public_key }}"
owner          = "{{ tf_owner }}"
blueprint      = "{{ tf_blueprint }}"
deployment     = "{{ tf_deployment }}"
purpose        = "{{ tf_purpose }}"
