TFE_OPERATIONAL_MODE=disk
TFE_LICENSE={{ tfe_license }}
TFE_HOSTNAME={{ tfe_hostname }}
TFE_HTTP_PORT=8080
TFE_HTTPS_PORT=8443
TFE_ENCRYPTION_PASSWORD={{ tfe_encryption_password }}
TFE_DISK_CACHE_VOLUME_NAME=terraform-enterprise-cache
